.container {
    top: 0px;
    right: 0vh;
    z-index: -0;
    width: 50%;
    height: 96vh;
    float: right;
    display: none;
    color: #fff;
    position: sticky;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, #1c00f2, #453f96);
    /* overflow: hidden; */
}

.hana {
    /* text-align:justify */
    margin-top: 0;
    padding-bottom: 5%;
    text-align: justify;
    align-items: center;
}

/* this is the parent box for the chat & freind list */
.chatbox {
    width: 60%;
    display: flex;
    min-width: 250px;
    background: #b7babf;
    /* overflow: hidden; */
}


/* The main chat area (colum 1) */
.col-1 {
    flex: 1;
    display: none;
    background: #66d1d8;
    /* overflow-y: scroll; */
}



.msgArea {
    border: none;
    padding: 5px;
    width: 300px;
    height: auto;
    min-height: 50px;
    max-height: 600px;
    overflow: scroll;
    /* font: 24px/36px sans-serif; */
}

/* width */
/* .msgArea::-webkit-scrollbar {
    width: 20px;
} */

/* Handle 
.msgArea::-webkit-scrollbar-thumb {
    background: yellowgreen;
}

Track
.msgArea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.msgArea::-webkit-resizer {
    background: rgb(134, 112, 216);
}

Handle on hover
.msgArea::-webkit-scrollbar-thumb:hover {
    background: #b30000;
} */



.msg-row {
    display: flex;
    justify-content: flex-start;
    /* margin: 40px;  */

}

.msg-text {
    flex-basis: 70%;
    font-weight: 300;
    border-radius: 8px;
    padding: 20px, 40px;
    background: rgba(255, 255, 255, 0.1);
}

.msg-text h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.msg-img {
    width: 60px;
    height: 60px;
    margin: 0 20px px;
    border-radius: 50%;
}

/* is the actual row of the user sent text */
.msg-row2 {
    display: flex;
    justify-content: flex-end;
}

/* wright you mesage here */
.col-1 input {
    border: 0;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    padding: 20px 40px;
    background: #d80606;
}

::placeholder {
    color: rgb(95, 125, 167);
}

/* ----------------------------------------------------------Friend List------------------------------- */
.col-2 {
    flex-basis: 250px;
    background: #79b333;
}

.col-2 h3 {
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
}

.col-2 ul {
    list-style: none;
    padding: 30px;
}

.col-2 ul li {
    list-style: none;
    padding: 5px;
}

.col-2 ul li img {
    height: 25px;
    margin-top: -2%;
    float: inline-end;
    justify-content: center;
    /* flex-direction: column; */
}

.col-2 ul li::before {
    content: '';
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.col-2 ul li.online::before {
    background: greenyellow;
}

.col-2 ul li.offline::before {
    background: tomato;
}

.col-2 ul li.busy::before {
    background: yellow;
}