.container {
    right: 0vw;
    z-index: -0;
    width: 47%;
    height: 84vh;
    float: right;
    opacity: 0;
    color: #fff;
    margin-top: 1%;
    position: initial;
    margin-right: 0.3%;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right, #29292b, #453f96);
    overflow: hidden;
}

.container h1 {
    font-size: 220%;
    text-align: center;
    background-clip: text;
    margin-block-start: 1%;
    color: rgb(8, 10, 9);
    text-shadow: rgba(255, 255, 255, 0.9) 0px 3px 3px;
}

.friendListArea {
    margin: 5%;
    padding-bottom: 1px;
    text-align: justify;
    align-items: center;
    position: relative;
}

/* this is the parent box for the chat & freind list */
.chatbox {
    width: 90%;
    display: flex;
    min-width: 250px;
    align-self: center;
    border-radius: 15px;
    background: #b7babf;
}

.chat-form-div {
    
}

#chat-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.typing-div {
    display: flex;
    justify-content: center;
    margin: 1rem;
    font-size: 12px;
    opacity: 0;
    color: white;
    /* position: relative; */
    /* font-size: 1rem; */
}

.typing-text {
    padding: 33% 0;
    position: relative;
    color: white;
    font-size: 20px;
    height: 100px;
    text-align: center;
}
.typing-left-dots-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 100px;
}
.typing-right-dots-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 100px;
}
.typing-dots {
    padding: 0;
    margin: 0;
    position: absolute;
    /* height: 50px;
    width: 50px; */
    opacity: 1;
    color: white;
}

.typing-left-dots {
    left: 50px;
}

.typing-right-dots {
    right: 50px;
}

.show {
    opacity: 1;
}
/* .hide {
    opacity: 0;
} */
/* The main chat area (colum 1) */
.col-1 {
    flex: 1;
    display: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #66d1d8;
}



.msgArea {
    border: none;
    /* padding: 5px; */
    width: auto;
    height: auto;
    min-height: 50px;
    /* max-height: 600px; */
    max-height: 300px;
    overflow: scroll;
    /* font: 24px/36px sans-serif; */

    margin-top: 2%;
    color: white;
    min-height: 10%;
    /* max-width: 100%; */
    padding-top: 5%;
    padding-left: 3%;
    /* overflow: scroll; */
    padding-right: 3%;
    /* max-height: 340px; */
    padding-bottom: 5%;
    border-radius: 15px;
    border-style: double;
    background-color: rgba(0, 0, 0, .6);
}


.msg-row {
    /* display: flex; */
    display: grid;
    justify-content: flex-start;
    /* margin: 40px;  */

}

.msg-text {
    flex-basis: 70%;
    font-weight: 300;
    border-radius: 8px;
    padding: 20px, 40px;
    word-wrap: break-word;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}


.msg-text h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}


.msg-img {
    width: 60px;
    height: 60px;
    margin: 0 20px px;
    border-radius: 50%;
}

/* is the actual row of the user sent text */
.msg-row2 {
    /* display: flex; */
    display: grid;
    justify-content: flex-end;
}

/* wright you mesage here */
/* .col-1 input { */
.chatInput {
    border: 0;
    width: 95%;
    outline: none;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-left: 9px;
    padding: 20px 40px;
    background: #d80606;
}

button.submitMsg {
    /* margin-left: 20%; */
    border-radius: 15px;
    margin-bottom: 5%;
}

::placeholder {
    color: rgb(95, 125, 167);
}

.closeChat {
    position: relative;
    left: 70%;
    top: 92px;
}

/* ----------------------------------------------------------Friend List------------------------------- */
.col-2 {
    /* flex-basis: 250px; */
    /* background: #79b333; */

    border: none;
    width: auto;
    height: auto;
    min-height: 50px;
    max-height: 300px;
    /* overflow: scroll; */
    margin-top: 2%;
    color: white;
    min-height: 10%;
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    border-radius: 15px;
    border-style: double;
    background-color: rgba(0, 0, 0, .6);
}

.col-2 h3 {
    text-align: center;
    margin-top: 0px;
    font-weight: 400;
    color: #838287;
}

.col-2 ul {
    list-style: none;
    padding: 30px;
}

.user-list {
    padding: 10px;
    height: auto;
    min-height: 90px;
    max-height: 180px;
    overflow: scroll;
    display: grid;
    background-color: orange;
}

.col-2 ul li {
    display: inline-flex;
    list-style: none;
    padding: 5px;
}

.col-2 ul li img {
    height: 25px;
    margin-top: -2%;
    float: inline-end;
    justify-content: center;
    /* flex-direction: column; */
}

.col-2 ul li::before {
    content: '';
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    padding: 4px;
}

.col-2 ul li.online::before {
    background: greenyellow;
}

.nameButtons.notif {
    background: red;
}

.col-2 ul li.offline::before {
    background: tomato;
}

.col-2 ul li.busy::before {
    background: yellow;
}