/*------------------------------------------------------------ MAIN PAGE PAGE --------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    /* overflow-y: hidden; */
}

html {
    height: 100vh;
    width: 100%;
}

body {
    /*THIS CSS SECTION IS FOR THE BODY OF THE MAIN PAGE*/
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(250, 234, 214);
    /* For browsers that don't support gradients*/
    background: grey;
    /* for safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(bottom right, rgba(190, 186, 182, 0.5), rgb(199, 150, 91));
    /* for Firefox 3.6 to 15 */
    background: -moz-linear-gradient(to bottom right, rgba(190, 186, 182, 0.5), rgb(199, 150, 91));
    /* for Opera 11.1 to 12.0 */
    background: -o-linear-gradient(to bottom right, rgba(190, 186, 182, 0.5), rgb(199, 150, 91));
    /* for standard syntax */
    background: linear-gradient(to bottom right, rgba(190, 186, 182, 0.5), rgb(199, 150, 91))
}

.blankScreen {
    z-index: 5;
    height: 90vh;
    width: 100%;
    position: absolute;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.blankScreen {

    background-color: rgb(111, 110, 110);
    background-image: url("/assets/images/PnyGaloping.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    transition: background 0.3s ease-out;
}

.blankScreen:hover {
    background: rgb(25, 25, 25);
    background-image: url("/assets/images/Constalation2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}

.blankScreen h1 {
    font-size: 450%;
    text-align: center;
    background-clip: text;
    margin-block-start: 2%;
    color: rgb(21, 183, 75);
    text-shadow: rgba(255, 255, 255, 0.9) 0px 3px 3px;
}

.chating-animation {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-blend-mode: lighten; */
}

.blankScreen h2 {
    font-size: 117%;
    padding-top: 0%;
    text-align: center;
}


.navbar {
    margin: 0;
    /* padding: 0; */
    height: 10vh;
    /* padding: 20px; */
    overflow: hidden;
    list-style-type: none;
    background-color: #333;
}

li {
    float: left;
    padding-right: 10%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 28px 14px 10px 24px;
}

li a:hover:not(.active) {
    color: crimson;
    transition: 0.7s;
    border-radius: 20%;
    background-color: #fff;
}

#membershipButton {
    /*THIS CSS SECTION IS FOR THE BUTTON TO THE MEMBERSHIP AND REGISTRATION PAGE*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#curentPost {
    width: 50%;
    padding-top: 1vh;
    padding-left: 9vh;
    filter: drop-shadow(18px +8px 15px #454442);
    background: linear-gradient(30deg, rgba(221, 216, 197, 1) 0%, rgba(201, 117, 49, 1) 38%, rgba(241, 241, 234, .1) 100%);
}

.curentPostTitle {
    width: 30%;
    text-align: center;
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(239, 231, 231);
}

.PostContent {
    width: 90%;
    display: flex;
    padding-left: 0.5%;
    border-style: solid;
    background-color: rgb(209, 207, 207);
}

.PostContent>p {
    margin-top: 0;
    margin-bottom: 0;
}


#category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#category>div {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

#category>div>input {
    margin: 10px;
}

#category>div>label {
    margin: 10px;
}

.PostCategory {
    width: 90%;
    margin-top: 2px;
    padding-left: 0.5%;
    border-style: solid;
    background-color: rgb(209, 207, 207);
}

/* .PostCategory>p {
    margin-top: 0;
    margin-bottom: 0;
} */




/*--------------------------------------------------- LOGIN AND REGISTRATION PAGE POPUP BOX ------------------------------*/

.userPopUpP {
    top: 0;
    left: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    position: fixed;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.userPopUpP-content {
    /* this is for the Register PopUp Form */
    width: 60%;
    margin: 50px auto;
    border: #a99567;
    border: 1px solid #999;
}

.formPage {
    /* this is for both Sign In/Register PopUp Forms */
    margin: 25px;
    padding: 25px;
    display: block;
    background: #eee;
    box-shadow: 0 2px 5px #f5f5f5;
    /* float: left */
}

h2,
p {
    color: #999;
    margin: 0 0 20px;
    font-weight: 400;
}

span {
    color: #666;
    display: block;
    padding: 0 0 5px;
}

input,
textarea {
    width: 90%;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    border: 1px solid #1c87c9;
}

.administrationForm button {
    width: 100%;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    background: #1c87c9;
}

button:hover {
    background: #2371a0;
}

.close {
    float: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

button.button {
    outline: none;
    font-size: 16px;
    cursor: pointer;
    background: none;
    border-top: none;
    border-left: none;
    padding: 0 0 3px 0;
    border-right: none;
    border-bottom: #02274a 1px solid;
}

button.button:hover {
    color: #a99567;
    border-bottom: #a99567 1px solid;
}


.form-page {
    color: red;
}


/* --------------- */
