<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="3; url=/register">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01Forum</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="https://kit.fontawesome.com/4e7e922e98.js" crossorigin="anonymous"></script>
</head>
<body>
 <div class="navbar">
  <a href="/">Main Page</a>
  <a href="login">Login</a>
  <a href="register">Register</a>
 </div> 
 <h1>Username or email is already taken, please register again...</h1>
