{{template "header"}}
<h1>Login:</h1>
<form action="/login" method="post" class="forum-form">
    <div>
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="username">
    </div>
    <div>
        <label for="pw">Password:</label>
        <input type="password" id="pw" name="password">
    </div>
    <button type="submit">Login</button>
</form>
{{template "footer"}}