{{template "header"}}
<h1>Delete</h1>
<form action="">
    <label for="del">Input username to be delete:</label>
    <input type="text" id="del" name="delete">
    <button type="submit">Delete</button>
</form>
{{template "footer"}}